* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accordion {
  width: 700px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accordion-item {}

.accordion-container {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  padding: 24px;
}

.accordion-header {
  /* display: grid;
  grid-template-columns: auto 1fr auto; */
  column-gap: 24px;
}

.number,
.txt {
  font-size: 24px;
  font-weight: 500;
  color: black;

}

.icon {
  width: 24px;
  height: 24px;
  color: #087f5b;
  transition: transform 0.3s ease-in-out;

}

.icon.rotate {
  transform: rotate(180deg);
}

.accordion-summery {
  grid-column: 2;
  display: none;

}

.accordion-summery.show {
  display: block;

}

.accordion-summery p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.accordion-summery ul {
  color: #868e96;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.border {
  /* color: #087f5b; */
  border-top: 5px solid #087f5b;
}

.green {
  color: #087f5b;
}